*{
     font-family: 'Roboto', sans-serif;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body{
    background: #e7e7e7;
}
.container{
    width: 90vw;
    margin:auto;
   
    padding: 30px;
    margin-top: 30px;
    border-radius: 5px;
   
    text-align: center;

}

.containerLightStyled{
    background: #ffff;
    box-shadow: 3px 3px 10px #a9a7a7;
}


.containerDarkStyled{
    background: #2c2c2c;
    color: #fff;
}


h1{
    color:#3d6ed6;
   
    font-size: 60px;
    margin-top: 0px;
    transition: all .4s;
    font-weight: 900;
    cursor: pointer;
    letter-spacing: 8px;
    word-spacing: 12px;
    margin-bottom: 60px;
    animation: expand 1s ease-in-out infinite;

}

.project-link{
    color: #3d6ed6;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    letter-spacing: 8px;
    word-spacing: 12px;
    margin-bottom: 20px;
    animation: expand 1s ease-in-out infinite;
}


 
/* animation for h1 */

@keyframes mymove {
    from {width: 0px;}
    to {width: 100%;}
  }


h2{
   
    color: #f17373;
    font-size: 26x;
    font-weight: 500; 
    text-transform: capitalize;
    margin-bottom: 30px;
    
}


/* slider  */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 100px;
  }

    .slider.round:before {
        border-radius: 50%;
    }



    


h2:after{
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #f17373;
    margin: 0 auto;
    margin-top: 10px;
}


h3{
    padding-top:  20px ;
    color: #3f3f3f;
    font-weight: 400;
    margin-top: 80px;
    text-indent: 15px;
}

.h1Styled{
    transform: scale(110%,110%);
    color:rgb(60, 98, 180);
    word-spacing: 20px;
    
}




.img-box{
    width: 15%;
    margin: auto;
    margin-bottom: 30px;
    
}

.img-box img{
    width: 100%;
    height: auto;
}

p.name{
    color: #f17373;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
   margin-top: 20px;
}


.hero-para{
    margin:auto;
    max-width: 450px;
    color:#3f3f3f;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 60px;
}

footer{
    width: 100%;
    background: #3f4ba7;
    color: #ffff;
    margin-top: 40px;
    padding:60px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
}


.fa-brands {
    padding: 25px;
    font-size: 40px;
    width: 30px;
    
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
    color: #818181;
    transition: all .3s;
  }

  .fa-brands-dark-theme{
    color: #dfdfdf;
  }

  .fa-brands-dark-theme
  
  .fa-brands:hover{
    color: #5c5c5c;
  }


  .social-container{
      width: 100%;
      background: rgba(246, 246, 246, 0.012);
     
      text-align: center;
      border-radius: 3px;
  }

  /* media queries */

  @media only screen and (max-width: 1000px) {


    .container{
        max-width: 90vw;
        margin:auto
    
    }


    .img-box{
        width: 45%;
        margin-bottom: 30px;
        
    }
  }



  @media only screen and (max-width: 700px) {

    .img-box{
        width: 55%;
        margin-bottom: 30px;
        
    }
  }

  @media only screen and (max-width: 550px) {

    .img-box{
        width: 70%;
        margin-bottom: 30px;
        
    }

    .container{
        width: 97%;
    }
  }



  /* testing */






.moon-graphic{
    width:70%;
    height:auto;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1px 1px 20px  #f5b833) ;
    cursor: pointer;
}


#main{
    fill: #E6E6E6;
    transition: all 0.5s ease;
   
}

.scar{
    fill: #CBCBCB;
    margin: auto;
    transition: all .3s ease;
    
    

}



#main_light{
    fill: #f6b215;
    transition: all 3s ease;
}

header{
  position: relative;
  width: 100%;
 
 
}

header label {
  position: absolute;
  
  right: -40%;
}



@keyframes Animation {
    0.0%{
        transform: scale(100%);
    }
    2.4%{
        transform: scale(0%);
    }
}

